.jumbotron {
	background-color: transparent; /*This was the bug fix for jumbo background color*/
	font-family: 'Lato', sans-serif;
	padding: 10px;
	color: #fff;
}

.jumbotron div.container {
	background-color: #07AA9E;
	border-radius: 5px;
}

.main {
	background-color: transparent;
}

.marquee {
	min-height: 40px;
	width: 100%;
	border: 1px solid #000;
	position: absolute;
	font-family: 'Architects Daughter', cursive;
	padding-right: 5px;
	padding-left: 5px;
}

#mContainer {
	height: 300px;
	width: 100%;
	position: absolute;
	overflow: hidden;
/*	margin-bottom: 20px;*/
	margin-left: 35px;
}
